* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #3a8dd2;
    --color-bg1: #e5e5e5;
    --color-bg2: #f1f3ff;
    --transition: all 400ms ease;
}

a {
    color: black;
}

body {
    font-family: 'Poppins';
    background-color: var(--color-bg2);
}

/* nav */
nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgba(250, 250, 250, 0.6);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: auto;
    cursor: pointer;
}

.nav-item {
    margin: 0 30px;
    cursor: pointer;
}

/* end nav */

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-back {
    background-image: url("/image/sim_image.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    height: 100%;
    width: 100%;
}

.content-header {
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.content-header h1 {
    font-size: 3rem;
}

.content-header p {
    font-size: 1.6rem;
}

.content-header a {
    display: inline-block;
    font-size: 1rem;
    background-color: var(--color-primary);
    margin-top: 3rem;
    color: white;
    padding: 20px 30px;
    border-radius: 100px;
    transition: var(--transition);
}

.content-header a:hover {
    scale: 1.3;
}

/* end header */

/* pengurus */
.pengurus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.pengurus h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 80px;
}

.pengurus span {
    color: var(--color-primary);
}

.container-pengurus {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 80%;
}

.card-pengurus {
    background-color: var(--color-bg1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding: 30px;
}

.img-pengurus {
    height: 350px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
}

.card-pengurus img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* end pengurus */

/* kegiatan */
.kegiatan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg1);
}

.kegiatan h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 80px;
}

.kegiatan span {
    color: var(--color-primary);
}

.container-kegiatan {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 80%;
    margin-bottom: 80px;
}

.content-kegiatan {
    display: flex;
    gap: 100px;
}

.img-kegiatan {
    height: 350px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
}

.content-kegiatan img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.text-content i {
    background-color: var(--color-primary);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
/* end kegiatan */

/* gallery */
/* end gallery */